@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Light.woff") format("woff"),
    url("./assets/fonts/Montserrat-Light.woff") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("./assets/fonts/Montserrat-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-SemiBold.woff") format("woff"),
    url("./assets/fonts/Montserrat-SemiBold.woff") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("./assets/fonts/Montserrat-Bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Robtronika";
  src: url("./assets/fonts/Robtronika-Regular.ttf") format("truetype"),
    url("./assets/fonts/Robtronika-Regular.woff") format("woff"),
    url("./assets/fonts/Robtronika-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}
section {
  background-color: #e4e4e4;
}
h2,
h1,
h3 {
  font-weight: 600;
}
a {
  transition: 0.2s;
}
a:hover {
  opacity: 0.7;
}
li{
  position: relative;
}
li::before{
  position: absolute;
  content:'';
  width: 3px;
  height: 3px;
  top: 10px;
  left: -10px;
  border-radius:50%;
  background:black;
}
li.dark::before{
  background:white;
}
.btn {
  color: white;
  font-weight: 600;
  height: 64px;
  line-height: 64px;
  padding: 0px 40px;
  text-align: center;
  background: linear-gradient(270deg, #c873ff -88.02%, #000000 77.73%);
  border: 1px solid #000000;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  font-size: 20px;
}
.btn.btn_light {
  color: black;
  background: linear-gradient(270deg, #c873ff -122.45%, #ffffff 72.33%);
}
.btn:hover {
  background: #c873ff;
  color: black;
}
.bg-gradient {
  background: linear-gradient(270deg, #c873ff -122.45%, #ffffff 72.33%);
}
@media screen and (max-width:600px) {
  .btn {
    height: 54px;
    line-height: 54px;
    padding: 0px 20px;
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c873ff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bc59ff;
}